[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/rust.vim"]
	path = home/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "home/.vim/bundle/vimoutliner"]
	path = home/.vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "home/.vim/bundle/headlights"]
	path = home/.vim/bundle/headlights
	url = https://github.com/mbadran/headlights.git
